/* Я пока не задавал для body глобальных стилей,
 поскольку на этой странице макета и цвета везде разные и шрифты и толщина,
 пока не вижу смысла, можно брать наугад */
.container{
	max-width: 1800px;
	margin: 0 auto;
	padding: 0 15px;
}